/* LoginForm.css */


.login-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    width: 90%;
    max-width: 500px; /* Set a maximum width for larger screens */
    margin: 20px; /* Add some margin for better spacing on small screens */
    padding: 20px; /* Add some padding for better spacing */
}

.welcome-text {
    font-size: 32px;
    margin-bottom: 20px;
    color: #673ab7;
    text-align: center; /* Center the text within the container */
}

.input-container {
    width: 100%; /* Make input container fill the available width */
    margin-bottom: 20px;
  }
  
  .input-container input {
    width: 100%; /* Make inputs fill the container width */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-control.is-invalid {
    border-color: red;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 12px;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .options label {
    display: flex;
    align-items: center;
  }
  
  .options input {
    margin-right: 5px;
  }
  
  .forgot-password {
    color: #673ab7;
    text-decoration: none;
  }
  
  .login-button,
  .signup-button,
  .recover-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #673ab7; /* Color de fondo para el botón de Login */
    color: #fff; /* Color del texto */
  }
  
  .signup-button {
    background-color: #34a853; /* Color de fondo para el botón de Sign Up */
    color: #fff; /* Color del texto */
  }
  
  .recover-button {
    background-color: #e4ab00; /* Color de fondo para el botón de Recuperar Contraseña */
    color: #fff; /* Color del texto */
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .social-icons a {
    color: #673ab7;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #4527a0;
  }
  
  /* Media queries for additional adjustments on smaller screens (optional) */
  @media (max-width: 768px) {
    .welcome-text {
      font-size: 28px; /* Adjust font size for smaller screens */
    }
    .input-container input {
      font-size: 14px; /* Adjust input font size */
    }
  }
  