body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #7c3aed, #5b21b6); /* Degradado de fondo */
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% del alto de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Flex column to center content vertically */
}