.producto-detalles-body {
    background-color: #e6e6fa;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    font-size: 1em;
}

/* Estilo de la imagen del producto */
.detalle-producto-imagen {
    width: 100%;
    height: auto;
    min-width: 200px;
    max-width: 600px;
    min-height: 200px;
    max-height: 600px; 
    border-radius: 10px;
    border: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-color: #000000;
    object-fit: contain;
}

/* Estilo del botón de editar producto */
.editar-producto-boton {
    background-color: #CF9C01;
    border-color: #000000;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

.editar-producto-boton:hover {
    background-color: #BC0D8D;
    color: rgb(0, 0, 0);
    border-color: #000000;
}

/* Información del producto */
.producto-detalles-info h3 {
    color: #000000;
    margin-top: 5px;
}

/* Definición de espacio entre atributos */
.atributo {
    margin-bottom: 20px;
}

/* Asegurar que la tarjeta del producto se vea bien en dispositivos móviles */
@media (max-width: 768px) {
    .producto-detalles-card {
        margin: 0;
        border-radius: 0;
    }

    .producto-detalles-header {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 1em;
    }

    .atributo {
        margin-bottom: 10px;
    }
}
